In [1]:
import numpy as np

a = np.array( [20,30,40,50] )
b = np.arange( 4 )

print(a > b) # [ True  True  True  True]
print(a < b) # [False False False False]
print(a == b) # [False False False False]
print(a != b) # [ True  True  True  True]

[ True  True  True  True]
[False False False False]
[False False False False]
[ True  True  True  True]

In [2]:
import numpy as np

a = np.array( [True, True, False, False] )
b = np.array( [True, False, True, False]  )

print(a and b)
Traceback (most recent call last):
  ...
ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

SyntaxError: invalid syntax (<ipython-input-2-f6c09bd1bbdf>, line 7)

In [3]:
import numpy as np

a = np.array( [10, 20, 30, 40] )

print(a[ [True, True, True, True] ])
# [10 20 30 40]
print(a[ [True, False, True, False] ])
# [10 30]
print(a[ [False, False, False, False] ])
# []

[10 20 30 40]
[10 30]
[]

In [1]:
import numpy as np 

a = np.arange(6)
print(a)
# [0 1 2 3 4 5]

print(a.sum()) # 15
print(a.min()) # 0
print(a.max()) # 5

[0 1 2 3 4 5]
15
0
5

In [2]:
import numpy as np 

a = np.arange(6)

print(a.sum()) # 15
print(np.sum(a)) # 15
print(sum(a)) # 15

15
15
15

In [3]:
import numpy as np 

np.searchsorted(
    [1, 2, 3, 4, 5],
    [-10, 10, 3, 5]
)
# [0, 5, 2, 4]

array([0, 5, 2, 4])

In [1]:
L = [0, 1, 8]

print(L)
print(L[-1]) # 8
print(L[0]) # 0
print(L[1:3]) # [1, 8]

[0, 1, 8]
8
0
[1, 8]

In [3]:
import numpy as np 

a = np.arange(3) ** 3

print(a)
print(a[-1]) # 8
print(a[0]) # 0
print(a[1:3]) # [1 8]

[0 1 8]
8
0
[1 8]

In [4]:
import numpy as np 

data = np.array([1, 2, 3])

print(data[0]) # 取出第 0 個
print(data[1]) # 取出第 1 個
print(data[0:2]) # 第 0 - 1 個
print(data[1:]) # 第 1 到最後一個
print(data[-2:]) # 倒數第二到最後一個

1
2
[1 2]
[2 3]
[2 3]

In [5]:
import numpy as np 

a = np.arange(3) ** 3

for i in a:
    print(i)

0
1
8

In [14]:
import numpy as np 

a = np.arange(6).reshape(3, 2)

for row in a:
    print(row)

[0 1]
[2 3]
[4 5]

In [15]:
for row in a:
    for d in row:
        print(d)

0
1
2
3
4
5

In [19]:
import numpy as np 

a = np.arange(6).reshape(3,2)

for d in np.nditer(a, order='F'):
    print(d)

0
2
4
1
3
5

In [1]:
import pandas as pd
print(pd)
print(pd.__version__)

<module 'pandas' from '/Users/melissaliu/anaconda3/lib/python3.7/site-packages/pandas/__init__.py'>
0.23.4

In [5]:
import pandas as pd
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['A', 'B', 'C'])
print(df)
print(df.shape)
print(df.size)
print(df.index)
print(df.columns)
print(df.values)

   A  B  C
a  1  2  3
b  4  5  6
(2, 3)
6
Index(['a', 'b'], dtype='object')
Index(['A', 'B', 'C'], dtype='object')
[[1 2 3]
 [4 5 6]]

In [1]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['A', 'B', 'C'])

print(df.iloc[0, 0]) # 1
print(df.iloc[0, [0, 1]])
print(df.iloc[[0, 1], 0])
print(df.iloc[[0, 1], [0, 1]])

1
A    1
B    2
Name: a, dtype: int64
a    1
b    4
Name: A, dtype: int64
   A  B
a  1  2
b  4  5

In [2]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['A', 'B', 'C'])

print(df.loc['a', 'A']) # 1
print(df.loc['a', ['A', 'B']])
print(df.loc[['a', 'b'], 'A'])
print(df.loc[['a', 'b'], ['A', 'B']])

1
A    1
B    2
Name: a, dtype: int64
a    1
b    4
Name: A, dtype: int64
   A  B
a  1  2
b  4  5

In [4]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['A', 'B', 'C'])

print(df.ix[0, 'A']) # 1
print(df.ix['a', [0, 1]])
print(df.ix[['a', 'b'], 0])
print(df.ix[[0, 1], ['A', 'B']])

1
A    1
B    2
Name: a, dtype: int64
a    1
b    4
Name: A, dtype: int64
   A  B
a  1  2
b  4  5

/Users/melissaliu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """
/Users/melissaliu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

/Users/melissaliu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys
/Users/melissaliu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [1]:
import pandas as pd

df1 = pd.DataFrame([[1, 2, 3]], columns=['a', 'b', 'c'])
df2 = pd.DataFrame([[1, 1, 1]], columns=['c', 'd', 'e'])

print(df1 + df2)

    a   b  c   d   e
0 NaN NaN  4 NaN NaN

In [4]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3]])

print(df + 1)
print (pd.DataFrame([3]))
print(df + pd.DataFrame([1]))

   0  1  2
0  2  3  4
   0
0  3
   0   1   2
0  2 NaN NaN

In [5]:
print(df > 2)
#        A      B     C
# a  False  False  True
# b   True   True  True

print(df[df > 2])
#      A    B  C
# a  NaN  NaN  3
# b  4.0  5.0  6

       0      1     2
0  False  False  True
    0   1  2
0 NaN NaN  3

In [1]:
import pandas as pd

df = pd.DataFrame({
  'name': ['Alice', 'Bob'],
  'age': [20, 32]
})

for c in df:
  print(c)

name
age

In [2]:
import pandas as pd

df = pd.DataFrame({
  'name': ['Alice', 'Bob'],
  'age': [20, 32]
})

for i in range(len(df)):
  print(df.iloc[i])

name    Alice
age        20
Name: 0, dtype: object
name    Bob
age      32
Name: 1, dtype: object

In [3]:
for d in df.iteritems():
  print(d)

for d in df.iterrows():
  print(d)

for d in df.itertuples():
  print(d)

('name', 0    Alice
1      Bob
Name: name, dtype: object)
('age', 0    20
1    32
Name: age, dtype: int64)
(0, name    Alice
age        20
Name: 0, dtype: object)
(1, name    Bob
age      32
Name: 1, dtype: object)
Pandas(Index=0, name='Alice', age=20)
Pandas(Index=1, name='Bob', age=32)

In [4]:
for d in df.iteritems():
  print(d)

for d in df.iterrows():
  print(d)

for d in df.itertuples():
  print(d)

('name', 0    Alice
1      Bob
Name: name, dtype: object)
('age', 0    20
1    32
Name: age, dtype: int64)
(0, name    Alice
age        20
Name: 0, dtype: object)
(1, name    Bob
age      32
Name: 1, dtype: object)
Pandas(Index=0, name='Alice', age=20)
Pandas(Index=1, name='Bob', age=32)

In [1]:
import pandas as pd

df = pd.DataFrame([[1], [2]], columns = ['a'])
print(df)

   a
0  1
1  2

In [2]:
df['b'] = pd.Series([3, 4])
print(df)

   a  b
0  1  3
1  2  4

In [13]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3, 4]], columns = ['a', 'b','c','d'])
print(df)

   a  b  c  d
0  1  2  3  4

In [16]:
df = df.append(pd.DataFrame([[5, 4]], columns = ['c', 'd']))
print(df)

     a    b  c  d
0  1.0  2.0  3  4
0  NaN  NaN  5  4
0  NaN  NaN  5  4
0  NaN  NaN  5  4

In [17]:
df = df.append(pd.DataFrame([[3, 4]], columns = ['a', 'b']))
df = df.reset_index(drop=True)
print(df)

     a    b    c    d
0  1.0  2.0  3.0  4.0
1  NaN  NaN  5.0  4.0
2  NaN  NaN  5.0  4.0
3  NaN  NaN  5.0  4.0
4  3.0  4.0  NaN  NaN

In [27]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3]], columns = ['a', 'b', 'c'])
print(df)

   a  b  c
0  1  2  3

In [28]:
del df['a']
df.pop('c')
print(df)

   b
0  2

In [29]:
import pandas as pd

df = pd.DataFrame([[1], [2]], columns = ['a'])
print(df)

   a
0  1
1  2

In [30]:
df = df.drop(1)
print(df)

   a
0  1

In [31]:
one = pd.DataFrame({
    'id':[1, 2],
    'Name': ['Alex', 'Amy'],
})
two = pd.DataFrame({
    'id':[1, 2],
    'Name': ['Bob', 'Tom']
})

pd.concat([one, two]).reset_index(drop=True)

   id  Name
0   1  Alex
1   2   Amy
2   1   Bob
3   2   Tom

In [32]:
one = pd.DataFrame({
    'id':[1, 2],
    'Name': ['Alex', 'Amy'],
})
two = pd.DataFrame({
    'id':[1, 2],
    'Score': [98, 60]
})

pd.merge(one, two, on='id')

   id  Name  Score
0   1  Alex     98
1   2   Amy     60

In [34]:
df = pd.DataFrame({
  'A' : ['foo', 'bar', 'foo', 'bar'],
  'B' : ['one', 'one', 'two', 'three'],
  'C' : [1,2,3,4],
  'D' : [10, 20, 30, 40]
})
print (df)

     A      B  C   D
0  foo    one  1  10
1  bar    one  2  20
2  foo    two  3  30
3  bar  three  4  40

In [35]:
df.groupby('A').sum()
df.groupby('A').agg(sum)
df.groupby(['A','B']).sum()

           C   D
A   B
bar one    2  20
    three  4  40
foo one    1  10
    two    3  30