# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件

import pandas as pd
import numpy as np

In [4]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [6]:
#計算每個不同種類 animal 的 age 的平均數
for i in np.unique(df.animal):  print(str(i)+':',np.mean(df.age[df.animal==i]))
for i in set(df.animal):  print(str(i)+':',np.mean(df.age[df.animal==i]))
print(df.groupby(['animal']).mean(),'\n')

#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
print(df.sort_values(by=['age']).sort_values(by=['visits'], ascending=False),'\n')
df1=df.sort_values(by=['age'])#same as above
print(df1.sort_values(by=['visits'], ascending=False),'\n')

#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df["priority"]=df["priority"].str.replace("yes","True")
df["priority"]=df["priority"].str.replace("no","False")
print(df)

cat: 2.5
dog: 5.0
snake: 2.5
snake: 2.5
cat: 2.5
dog: 5.0
        age  visits
animal
cat     2.5     2.0
dog     5.0     2.0
snake   2.5     1.5

  animal  age  visits priority
f    cat  2.0       3       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
h    cat  NaN       1      yes

  animal  age  visits priority
f    cat  2.0       3       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
h    cat  NaN       1      yes

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [10]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.999678  0.474302  0.629295
1  0.182512  0.394590  0.788658
2  0.161981  0.141361  0.816818
3  0.923899  0.320381  0.899200
4  0.515631  0.320796  0.081006

In [11]:
#1) 該欄位的平均數
print(df-df.mean()) #Broadcast
f = lambda x: x - x.mean() #lambda
print(df.apply(f))

#2) 該筆資料平均數
print(df-df.stack().mean())
print(df-df.values.mean())

          0         1         2
0  0.442938  0.144016 -0.013700
1 -0.374229  0.064304  0.145663
2 -0.394759 -0.188925  0.173823
3  0.367159 -0.009905  0.256204
4 -0.041109 -0.009490 -0.561990
          0         1         2
0  0.442938  0.144016 -0.013700
1 -0.374229  0.064304  0.145663
2 -0.394759 -0.188925  0.173823
3  0.367159 -0.009905  0.256204
4 -0.041109 -0.009490 -0.561990
          0         1         2
0  0.489671 -0.035705  0.119288
1 -0.327495 -0.115417  0.278651
2 -0.348026 -0.368646  0.306811
3  0.413892 -0.189626  0.389192
4  0.005624 -0.189212 -0.429002
          0         1         2
0  0.489671 -0.035705  0.119288
1 -0.327495 -0.115417  0.278651
2 -0.348026 -0.368646  0.306811
3  0.413892 -0.189626  0.389192
4  0.005624 -0.189212 -0.429002

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [12]:
print(df.mean(axis=0).argmin())
print(df.mean(axis=1).argmin())

1
4

/Users/melissaliu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: 'argmin' is deprecated, use 'idxmin' instead. The behavior of 'argmin'
will be corrected to return the positional minimum in the future.
Use 'series.values.argmin' to get the position of the minimum now.
  """Entry point for launching an IPython kernel.
/Users/melissaliu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: 'argmin' is deprecated, use 'idxmin' instead. The behavior of 'argmin'
will be corrected to return the positional minimum in the future.
Use 'series.values.argmin' to get the position of the minimum now.